//Colors
$teal : #8ED1D4
$primary-purple : #341F78

//Fonts
@font-face 
    font-family: 'Open Sans'
    src: local('Open Sans'), url('../fonts/open_sans/OpenSans-ExtraBold.ttf') format('truetype')

@font-face 
    font-family: 'Lora'
    src: local('Lora'), url('../fonts/Lora/static/Lora-Bold.ttf') format('truetype')
    
=open-sans-bold 
    font-family: 'Open Sans'
    font-weight: 700

=lora-bold
    font-family: 'Lora'
    font-weight: 700


//Mixins
=flexRow
    display: flex
    flex-direction: row

=flexColumn
    display: flex
    flex-direction: column

//Universal
h1 
    +lora-bold 
    font-size: 27px
    

//Main Menu
.main-menu-container
    box-sizing: border-box
    +flexRow 
    justify-content: space-between
    margin-right: 5vw
    margin-left: 5vw
    margin-top: 25px

.menu-button-container
    box-sizing: border-box
    +flexRow 

.login
    box-sizing: border-box
    border: none
    border-radius: 14px
    background-color: $teal
    width: 138px
    height: 44px
    text-align: center
    padding: 10px
    text-decoration: none
    font-color: $primary-purple
    +open-sans-bold 

//Hero Section
.hero-container
    box-sizing: border-box
    +flexColumn 
    align-items: center
    justify-content: center
    margin-top: 35px

.hero-copy
    width: 33vw
    text-align: center
